<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{> header}}
        <title>Home</title>
    </head>
    <body>
        {{> menu}}
        <main>
            <h1 class="titulopag">Panel de control</h1>
            <!-- Pestañas -->
            <section class="tabs">
                <!-- input type="radio", name="tab" -->
                <input type="radio" name="tab" id="tab1" checked>
                <input type="radio" name="tab" id="tab2">
                <!-- label botones -->
                <div class="tab_botones">
                    <label class="tab_boton tab_boton1" for="tab1">Formulario</label>
                    <label class="tab_boton tab_boton2" for="tab2">Equipo</label>
                </div>
                <!-- Contenido de las pestañas -->
                <div class="tab-content content-1">
                    <h2>Bienvenido/da!</h2>
                    <p>Como ya habrás visto en la primera página, hay un formulario para nada sospechoso que puedes rellenar.</p>
                    <p>Rellenalo y te llevarás una gran sorpresa, una sorpresa que puede cambiarte la vida jeje.</p>
                    <div class="nota">
                        <p><strong>Nota:</strong> todo esto es broma obviamente xd</p>
                    </div>
                </div>
                <div class="tab-content content-2">
                    <h2>El equipo detrás de esto:</h2>
                    <p>Somos un equipo de profesionales apasionados por la tecnologia y el diseño we...</p>
                    <p>O eso me gustaría decir, pero ni equipo ni profesionales, en realidad solo estoy yo xd</p>
                    <p>Que quien soy? Que más da.</p>
                    <div class="nota">
                        <p><strong>PD:</strong> no sabía que hacer y terminé haciendo esto JAJAJA</p>
                    </div>
                </div>
            </section>
        </main>
        {{> footer}}
    </body>
</html>