body{
    margin: 0;
    padding: 0;
    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
    padding: 15px 0;
    background-color: rgb(52, 113, 228);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a{
    color: white;
    font-size: large;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: rgb(0, 0, 58);
    letter-spacing: 1.1px;
}

footer{
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    background-color: grey;
    color: black;
    font-weight: bold;
    text-align: center;
}

main{
    flex: 1;
}

section{
    margin: 2% 7%;
}

.titulopag{
    text-align: center;
    padding-top: 20px;
}

/* Pestañas */
.tabs input{
    display: none;
}

.tabs{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 7px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    margin-bottom: 40px
}

.tab_botones{
    display: flex;
    background-color: rgb(238, 238, 238);
    border-bottom: 1.5px solid rgb(194, 194, 194);
}

.tab_boton{
    border-bottom: 3px solid transparent;
    color: rgb(75, 75, 75);
    cursor: pointer;
    flex: 1;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s linear;
    user-select: none;
}

.tab_boton:hover{
    background-color: rgb(189, 207, 240);
    color: cornflowerblue;
}

/* Selección de la pestaña actual */
body:has(#tab1:checked) .tab_botones .tab_boton1,
body:has(#tab2:checked) .tab_botones .tab_boton2{
    background: white;
    border-bottom-color: cornflowerblue;
    color: cornflowerblue;
}

.tab-content{
    display: none;
    padding: 2.5rem;
    animation: animacion_tab 0.4s ease-in;
}

@keyframes animacion_tab{
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

body:has(#tab1:checked) .content-1,
body:has(#tab2:checked) .content-2{
    display: block;
}





.caratula{
    width: 100%;
}

.pelis{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.pelis div{
    flex: 0 0 250px;
}

.categorias{
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.detalles{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.detalles div{
    width: 33%;
}

.detalles img{
    width: 100%;
}

.verdetalles{
    color: dodgerblue;
    transition: color 0.3s ease;
}

.verdetalles:hover{
    color: darkslateblue;
}

button {
    border: none;
    font-size: large;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    transform: scale(1.07);
}

.nuevapeli{
    text-align: center;
}

.nuevapeli button{
    color: rgb(90, 90, 0);
    background-color: yellow;
}

.nuevapeli button:hover{
    background-color: rgb(211, 211, 0);
}

.cancelar button{
    margin-top: 10px;
}

.volver button{
    margin-left: 10px;
}

.cancelar button:hover, .volver button:hover{
    background-color: rgb(116, 116, 116);
}

.add, .editar button{
    background-color: gold;
}

.add:hover, .editar button:hover{
    background-color: goldenrod;
}

.borrar{
    margin-top: 10px;
    background-color: coral;
}

.borrar:hover{
    background-color: chocolate;
}